

Backend/node_modules/
Backend/Patients/node_modules/
Backend/.env
Database/setup.psql
.env

.MDSystem-Drive/




### mdsystem-frontend/.gitignore copy pasted below ###

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Ignore generated API documentation/scripts
mdsystem-frontend/scripts/generated/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
